{% extends 'base.html' %}
{% load static %}
{% block title %}Главная{% endblock title %}
<script src="{% static 'js/main.js' %}"></script>
{% block content %}
    <div class="сontainer" id="main-content"></div>
    <form method="post" action="" id="new_quote_form">
{#    {% csrf_token %}#}
        <label for="new_quote_text"> Текст цитаты </label>
        <input type="text" id="new_quote_text"><br>
         <label for="new_quote_name">Имя </label>
        <input type="text" id="new_quote_name"><br>
         <label for="new_quote_email"> Почта </label>
        <input type="email" id="new_quote_email"><br>
        <input  class="action" type="submit" id="new_quote_sbmt" onclick="create_quote()" value="Создать"/>
    </form>
    <div class="сontainer" id="view"></div>

<form method="post" action="" id="update_quote_form">
{#    {% csrf_token %}#}
        <label for="update_quote_text"> Текст цитаты </label>
        <input type="text" id="update_quote_text"><br>
         <label> Статус </label>
            <input type="radio" id="is_moderated_true" name="is_moderated" value="true">
          <label for="male">Сделать активным</label><br>
          <input type="radio" id="is_moderated_false" name="is_moderated" value="false">
          <label for="female">Сделать не активным</label><br>
        <input  class="action" type="submit" id="update_quote_sbmt" onclick="update_quote()" value="Создать"/>
    </form>
    <div class="сontainer" id="view"></div>

{% endblock content %}